@page
@model LoginModel

@{
    ViewData["Title"] = "Log ind med Twitter";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <section>
            <h1 class="display-4 text-center">@ViewData["Title"]</h1>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>Vi har tilsyneladende lavet en fejl i opsætningen af login-siden. Det beklager vi.</p>
                        <p>Du må meget gerne give os besked, så vil vi rette op på det hurtigst muligt.</p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p class="text-center">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log ind med din @provider.DisplayName-konto">Log ind med @provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
