@page "/influencers"
@inject UsersToCheck influencers
@model DemokratiskDialog.Pages.InfluencersModel
@{
    ViewData["Title"] = "Hvem kontrollerer vi?";
}

<h1 class="display-4">@ViewData["Title"]</h1>

<p class="lead">Vi kontrollerer pt. @influencers.Count forskellige indflydelsesrige Twitter-profiler. Nedenfor finder du en oversigt fordelt på forskellige kategorier.</p>

<style>
    .card {
        border: none;
    }
</style>

<div class="card-columns">
    @foreach (var group in influencers.GroupBy(i => i.Category))
    {
    <div class="card">
        <h2>@group.Key.Description() (i alt @group.Count())</h2>
        @foreach (var profile in group.OrderBy(p => p.Profile.Name))
        {
        <div>@profile.Profile.Name <small>(<a href="https://twitter.com/@profile.Profile.ScreenName" title="Besøg @profile.Profile.Name's Twitter-profil" target="_blank" rel="noopener">@@@profile.Profile.ScreenName</a>)</small></div>
        }
    </div>
    }
</div>
